@model UserDataViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_dashboardLayout";
    ViewData["Title"] = "Login";
}

<div class="section-padding login">
    <div class="container">
        <div class="head-title">
            <p>Welcome Back</p>
            <h3>Fill Your Info To Login</h3>
        </div>
        <div class="row align-items-center justify-content-center gy-4 mt-5">
            <div class="col-md-6">
                <div class="login-img rounded-3 overflow-hidden">
                    <img src="~/assets/login.jpg"
                         class="img-fluid w-100 d-block"
                         alt="login" />
                </div>
            </div>
            <div class="col-md-6">
                <form method="post">
                    <div class="form-item mb-3">
                        <label asp-for="email"></label>
                        <input class="w-100 p-2 rounded-3" asp-for="email" />
                    </div>
                    <div class="form-item mb-3">
                         <label asp-for="password"></label>
                        <input class="w-100 p-2 rounded-3" type="password" asp-for="password" />
                    </div>
                    <button type="submit" class="button">LogIn</button>
                </form>
            </div>
        </div>
    </div>
</div>