
@{
    ViewData["Title"] = "Home Page";
}

<!--Landning-->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner h-100">
        <div class="carousel-item active">
            <img src="~/assets/carousel-1.jpg"
                 class="img-fluid w-100"
                 alt="..." />
            <div class="carousel-caption d-none d-md-block">
                <h5 class="display-5 fw-bolder">
                    We make your shipping product easy & fast
                </h5>
                <p class="text-white-50">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
                    blanditiis repellat explicabo inventore quo fugit dicta commodi quam
                    vitae eum.
                </p>
                <button class="button mt-4">Get Started</button>
            </div>
        </div>
    </div>
</div>

<!--Intro-->
<div class="intro section-padding">
  <div class="container">
    <div class="row align-items-center justify-content-center gy-4">
        <div
          class="col-md-6 col-lg-3"
        >
          <div
            class="intro-box rounded-4 p-3 text-center d-flex flex-column gap-3 align-items-center justify-content-center bg-white"
          >
                    <img src="~/assets/truck.png"
              class="img-fluid"
              alt="intro"
            />
                    <h4>Road Freight</h4>
                    <small class="text-black-50 fw-bold">Lorem ipsum dolor sit amet elit consectetur adipiscing sed eiusmod tempor.</small>
            <a href="#services">Read More</a>
          </div>
        </div>
            <div class="col-md-6 col-lg-3">
                <div class="intro-box rounded-4 p-3 text-center d-flex flex-column gap-3 align-items-center justify-content-center bg-white">
                    <img src="~/assets/airplane.png"
                         class="img-fluid"
                         alt="intro" />
                    <h4>Air Freight</h4>
                    <small class="text-black-50 fw-bold">Lorem ipsum dolor sit amet elit consectetur adipiscing sed eiusmod tempor.</small>
                    <a href="#services">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="intro-box rounded-4 p-3 text-center d-flex flex-column gap-3 align-items-center justify-content-center bg-white">
                    <img src="~/assets/ship.png"
                         class="img-fluid"
                         alt="intro" />
                    <h4>Sea Freight</h4>
                    <small class="text-black-50 fw-bold">Lorem ipsum dolor sit amet elit consectetur adipiscing sed eiusmod tempor.</small>
                    <a href="#services">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="intro-box rounded-4 p-3 text-center d-flex flex-column gap-3 align-items-center justify-content-center bg-white">
                    <img src="~/assets/train.png"
                         class="img-fluid"
                         alt="intro" />
                    <h4>Railway Freight</h4>
                    <small class="text-black-50 fw-bold">Lorem ipsum dolor sit amet elit consectetur adipiscing sed eiusmod tempor.</small>
                    <a href="#services">Read More</a>
                </div>
            </div>
    </div>
  </div>
</div>

<!--ِAbout-->
<div class="about section-padding">
    <div class="container">
        <div class="head-title">
            <p>Who We Are</p>
            <h3>Trusted Logistic & Transport</h3>
        </div>
        <div class="row mt-3 gy-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-content d-flex flex-column gap-2">
                    <h6>About Company</h6>
                    <h2>Digital & Trusted Transport Logistic Company</h2>
                    <p class="text-black-50 fw-bold">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam magnam
                        quibusdam explicabo beatae natus, dolor hic in ut illum asperiores.
                    </p>
                    <div class="about-box p-3 rounded-3 d-flex align-items-center gap-3">
                        <p><i class="fa-solid fa-globe fs-3"></i></p>
                        <div class="d-flex flex-column gap-2">
                            <h5>Global Service</h5>
                            <small>
                                We always provide people a complete solution focused of any
                                business.
                            </small>
                        </div>
                    </div>
                    <div class="about-box p-3 rounded-3 d-flex align-items-center gap-3">
                        <p><i class="fa-solid fa-truck-ramp-box fs-3"></i></p>
                        <div class="d-flex flex-column gap-2">
                            <h5>On Time Delivery</h5>
                            <small>
                                We always provide people a complete solution focused of any
                                business.
                            </small>
                        </div>
                    </div>
                    <button class="button">Explore More</button>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="about-images">
                    <div class="row gy-4 align-items-center justify-content-center">
                        <div class="col-6">
                            <img src="~/assets/about-1.jpg"
                                 class="img-fluid w-100 d-block rounded-3"
                                 alt="about" />
                        </div>
                        <div class="col-6">
                            <img src="~/assets/about-2.jpg"
                                 class="img-fluid w-100 d-block rounded-3"
                                 alt="about" />
                        </div>
                        <div class="col-12">
                            <div class="about-image overflow-hidden position-relative rounded-3">
                                <img src="~/assets/about-3.jpg"
                                     class="img-fluid w-100 d-block rounded-3"
                                     alt="about" />
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Features-->
<div class="features section-padding">
    <div class="container">
        <div class="head-title">
            <p>Why Choose Us</p>
            <h3>Beyond shipping & tranasport service</h3>
        </div>
        <div class="row mt-2 align-items-center justify-content-center gy-5">
            <div class="col-lg-6">
                <div class="features-img rounded-3 overflow-hidden">
                    <img src="~/assets/features.jpg"
                         class="img-fluid w-100 d-block"
                         alt="features" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="features-content d-flex flex-column gap-2 text-center text-lg-start">
                    <h6>Our Features</h6>
                    <h2>We Are Best Transport & Logistics Services.</h2>
                    <div class="row mt-3 gy-4 align-items-center justify-content-center">
                            <div class="col-6 col-sm-3 col-lg-6">
                                <div class="feat-box rounded-4 px-3 py-4 d-flex flex-column justify-content-center align-items-center gap-3 text-center">
                                <i class="fa-solid fa-truck-fast"></i>
                                <h5 class="text-white fw-bold">Fast Transportion</h5>
                                </div>
                            </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <div class="feat-box rounded-4 px-3 py-4 d-flex flex-column justify-content-center align-items-center gap-3 text-center">
                                <i class="fa-solid fa-shield"></i>
                                <h5 class="text-white fw-bold">Safety and Reliability</h5>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <div class="feat-box rounded-4 px-3 py-4 d-flex flex-column justify-content-center align-items-center gap-3 text-center">
                                <i class="fa-solid fa-map-location"></i>
                                <h5 class="text-white fw-bold">Real Time Tracking</h5>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <div class="feat-box rounded-4 px-3 py-4 d-flex flex-column justify-content-center align-items-center gap-3 text-center">
                                <i class="fa-solid fa-headset"></i>
                                <h5 class="text-white fw-bold">24/7 Support</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Services-->
<div class="services section-padding">
    <div class="container">
        <div class="head-title">
            <p>What We Do</p>
            <h3>We give you complete control on shipments.</h3>
        </div>
        <div class="row mt-5 align-items-center justify-content-center gy-4">
                <div class="col-md-6 col-lg-4">
                    <div class="service-box rounded-4 overflow-hidden bg-white d-flex flex-column gap-3">
                        <div class="service-img overflow-hidden">
                        <img src="~/assets/service-1.jpg"
                                 class="img-fluid w-100 d-block"
                                 alt="service" />
                        </div>
                        <div class="service-info p-3">
                            <div class="service-title fs-4 fw-bold mb-2 d-flex align-items-center justify-content-between">
                            <h5>Air Freight</h5>
                            <p><i class="fa-solid fa-plane-arrival"></i></p>
                            </div>
                        <p class="mt-1 mb-4">eiusmod incididunt ut labore velr etdolore magna aliqua aliqua.</p>
                            <button class="custom-button d-flex gap-2 align-items-center">
                                <span><i class="fa-solid fa-right-long"></i></span>
                                <span>Read More</span>
                            </button>
                        </div>
                    </div>
                </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box rounded-4 overflow-hidden bg-white d-flex flex-column gap-3">
                    <div class="service-img overflow-hidden">
                        <img src="~/assets/service-2.jpg"
                             class="img-fluid w-100 d-block"
                             alt="service" />
                    </div>
                    <div class="service-info p-3">
                        <div class="service-title fs-4 fw-bold mb-2 d-flex align-items-center justify-content-between">
                            <h5>Ocean Freight</h5>
                            <p><i class="fa-solid fa-ship"></i></p>
                        </div>
                        <p class="mt-1 mb-4">eiusmod incididunt ut labore velr etdolore magna aliqua aliqua.</p>
                        <button class="custom-button d-flex gap-2 align-items-center">
                            <span><i class="fa-solid fa-right-long"></i></span>
                            <span>Read More</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                    <div class="service-box rounded-4 overflow-hidden bg-white d-flex flex-column gap-3">
                        <div class="service-img overflow-hidden">
                        <img src="~/assets/service-3.jpg"
                                 class="img-fluid w-100 d-block"
                                 alt="service" />
                        </div>
                        <div class="service-info p-3">
                            <div class="service-title fs-4 fw-bold mb-2 d-flex align-items-center justify-content-between">
                            <h5>Road Freight</h5>
                            <p><i class="fa-solid fa-truck-fast"></i></p>
                            </div>
                        <p class="mt-1 mb-4">eiusmod incididunt ut labore velr etdolore magna aliqua aliqua.</p>
                            <button class="custom-button d-flex gap-2 align-items-center">
                                <span><i class="fa-solid fa-right-long"></i></span>
                                <span>Read More</span>
                            </button>
                        </div>
                    </div>
                </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box rounded-4 overflow-hidden bg-white d-flex flex-column gap-3">
                    <div class="service-img overflow-hidden">
                        <img src="~/assets/service-4.jpg"
                             class="img-fluid w-100 d-block"
                             alt="service" />
                    </div>
                    <div class="service-info p-3">
                        <div class="service-title fs-4 fw-bold mb-2 d-flex align-items-center justify-content-between">
                            <h5>Train Freight</h5>
                            <p><i class="fa-solid fa-train-subway"></i></p>
                        </div>
                        <p class="mt-1 mb-4">eiusmod incididunt ut labore velr etdolore magna aliqua aliqua.</p>
                        <button class="custom-button d-flex gap-2 align-items-center">
                            <span><i class="fa-solid fa-right-long"></i></span>
                            <span>Read More</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                    <div class="service-box rounded-4 overflow-hidden bg-white d-flex flex-column gap-3">
                        <div class="service-img overflow-hidden">
                        <img src="~/assets/service-5.jpg"
                                 class="img-fluid w-100 d-block"
                                 alt="service" />
                        </div>
                        <div class="service-info p-3">
                            <div class="service-title fs-4 fw-bold mb-2 d-flex align-items-center justify-content-between">
                            <h5>Customs Clearance</h5>
                            <p><i class="fa-solid fa-sitemap"></i></p>
                            </div>
                        <p class="mt-1 mb-4">eiusmod incididunt ut labore velr etdolore magna aliqua aliqua.</p>
                            <button class="custom-button d-flex gap-2 align-items-center">
                                <span><i class="fa-solid fa-right-long"></i></span>
                                <span>Read More</span>
                            </button>
                        </div>
                    </div>
                </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box rounded-4 overflow-hidden bg-white d-flex flex-column gap-3">
                    <div class="service-img overflow-hidden">
                        <img src="~/assets/service-6.jpg"
                             class="img-fluid w-100 d-block"
                             alt="service" />
                    </div>
                    <div class="service-info p-3">
                        <div class="service-title fs-4 fw-bold mb-2 d-flex align-items-center justify-content-between">
                            <h5>Warehouse Solutions</h5>
                            <p><i class="fa-solid fa-warehouse"></i></p>
                        </div>
                        <p class="mt-1 mb-4">eiusmod incididunt ut labore velr etdolore magna aliqua aliqua.</p>
                        <button class="custom-button d-flex gap-2 align-items-center">
                            <span><i class="fa-solid fa-right-long"></i></span>
                            <span>Read More</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Team-->
<div class="team-members section-padding">
    <div class="container">
        <div class="head-title">
            <p>Who Works Here</p>
            <h3>Our expert Team Member</h3>
        </div>
        <div class="row mt-4 align-items-center justify-content-center gy-4">
                <div class="col-sm-6 col-lg-3">
                    <div class="team-box rounded-4 overflow-hidden bg-white d-flex flex-column gap-2 text-center">
                        <div class="team-img position-relative overflow-hidden">
                        <img src="~/assets/team1.jpg"
                                 class="img-fluid w-100 d-block"
                                 alt="team" />
                            <ul class="d-flex justify-content-center align-items-center gap-2">
                                    <li>
                                        <a class="fs-5 button"
                                           target="_blank"
                                   href="https://www.facebook.com/">
                                    <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="fs-5 button"
                                           target="_blank"
                                   href="https://www.twitter.com/">
                                    <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </li>
                            <li>
                                <a class="fs-5 button"
                                   target="_blank"
                                   href="https://www.linkedin.com/">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            </ul>
                        </div>
                        <div class="team-info p-3">
                        <h5>Ahmed Elbahy</h5>
                        <small>Air Freight</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="team-box rounded-4 overflow-hidden bg-white d-flex flex-column gap-2 text-center">
                        <div class="team-img position-relative overflow-hidden">
                        <img src="~/assets/team2.jpg"
                                 class="img-fluid w-100 d-block"
                                 alt="team" />
                            <ul class="d-flex justify-content-center align-items-center gap-2">
                            <li>
                                <a class="fs-5 button"
                                   target="_blank"
                                   href="https://www.facebook.com/">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fs-5 button"
                                   target="_blank"
                                   href="https://www.twitter.com/">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fs-5 button"
                                   target="_blank"
                                   href="https://www.linkedin.com/">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            </ul>
                        </div>
                        <div class="team-info p-3">
                        <h5>Hamza Gamal</h5>
                        <small>Sea Freight</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="team-box rounded-4 overflow-hidden bg-white d-flex flex-column gap-2 text-center">
                        <div class="team-img position-relative overflow-hidden">
                        <img src="~/assets/team3.jpg"
                                 class="img-fluid w-100 d-block"
                                 alt="team" />
                            <ul class="d-flex justify-content-center align-items-center gap-2">
                            <li>
                                <a class="fs-5 button"
                                   target="_blank"
                                   href="https://www.facebook.com/">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fs-5 button"
                                   target="_blank"
                                   href="https://www.twitter.com/">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fs-5 button"
                                   target="_blank"
                                   href="https://www.linkedin.com/">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            </ul>
                        </div>
                        <div class="team-info p-3">
                        <h5>Mohammed Tarek</h5>
                        <small>Road Freight</small>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-box rounded-4 overflow-hidden bg-white d-flex flex-column gap-2 text-center">
                    <div class="team-img position-relative overflow-hidden">
                        <img src="~/assets/team4.jpg"
                             class="img-fluid w-100 d-block"
                             alt="team" />
                        <ul class="d-flex justify-content-center align-items-center gap-2">
                            <li>
                                <a class="fs-5 button"
                                   target="_blank"
                                   href="https://www.facebook.com/">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fs-5 button"
                                   target="_blank"
                                   href="https://www.twitter.com/">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fs-5 button"
                                   target="_blank"
                                   href="https://www.linkedin.com/">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-info p-3">
                        <h5>Mohammed Hassan</h5>
                        <small>Railway Freight</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Contact-->

<div class="contact section-padding">
    <div class="container">
        <div class="head-title">
            <p>How To Contact</p>
            <h3>Support are Interested for Logistic Team</h3>
        </div>
        <div class="row mt-4 g-5 justify-content-center">
            <div class="col-lg-6">
                <div class="contact-form">
                    <h4 class="fw-bold">Get In Touch</h4>
                    <p class="text-black-50 fw-bold mt-2 mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum veritatis
                        assumenda facilis a enim voluptatibus!
                    </p>
                    <form class="d-flex flex-column gap-3 justify-content-center">
                        <div class="row gy-3">
                            <div class="col-md-6">
                                <input type="text"
                                       required
                                       placeholder="Your Name"
                                       class="rounded-3 p-2 w-100" />
                            </div>
                            <div class="col-md-6">
                                <input type="email"
                                       required
                                       placeholder="Your E-Mail"
                                       class="rounded-3 p-2 w-100" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="text"
                                       required
                                       placeholder="Your Subject"
                                       class="rounded-3 w-100 p-2" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <textarea required
                                          placeholder="Your Message"
                                          class="rounded-3 w-100 p-2"></textarea>
                            </div>
                        </div>
                        <button class="button">Send Message</button>
                    </form>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="map rounded-4 overflow-hidden p-1 bg-white">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.692949289817!2d31.01631477477245!3d30.5579780940588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d7223ff2d63f%3A0x9d531b61c0ebb81b!2sITI%20Menofia%20Branch!5e0!3m2!1sen!2seg!4v1682505538511!5m2!1sen!2seg"
                            class="w-100 border-0 rounded-4"
                            allowfullscreen=""
                            height="400rem"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<div class="footer section-padding">
    <div class="container">
        <div class="row gy-4">
            <div class="col-sm-6 col-lg-3">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="~/assets/logo.png"
                         class="img-fluid me-2 w-25 d-block"
                         alt="Logo" />
                    <h3 class="fw-bolder">Fas<span>T</span>rans</h3>
                </a>
                <p class="text-white-50 my-4">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit sededod eiusmod
                    dolor.
                </p>
                <ul class="social-links d-flex align-items-center gap-2">
                    <li>
                        <a class="fs-5 button"
                           target="_blank"
                           href="https://www.facebook.com/">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a class="fs-5 button"
                           target="_blank"
                           href="https://www.twitter.com/">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="fs-5 button"
                           target="_blank"
                           href="https://www.linkedin.com/">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4 class="text-white fw-bold mb-3">Services</h4>
                <ul class="d-flex footer-links flex-column gap-2">
                    <li>
                        <i class="fa-solid fa-angle-right me-2"></i><a href="">Air Feright</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-angle-right me-2"></i><a href="">Sea Feright</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-angle-right me-2"></i><a href="">Road Feright</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-angle-right me-2"></i><a href="">Railway Freight</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4 class="text-white fw-bold mb-3">Quick Links</h4>
                <ul class="d-flex footer-links flex-column gap-2">
                    <li>
                        <i class="fa-solid fa-angle-right me-2"></i><a href="">About</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-angle-right me-2"></i><a href="">Services</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-angle-right me-2"></i><a href="">Portfolio</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-angle-right me-2"></i><a href="">Contact US</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm6 col-lg-3">
                <h4 class="text-white fw-bold mb-3">Gallery</h4>
                <div class="row g-3">
                        <div class="col-4">
                        <img src="~/assets/gallery-1.jpg"
                                 class="img-fluid w-100 d-block gallery-img rounded-3"
                                 alt="gallery" />
                        </div>
                        <div class="col-4">
                        <img src="~/assets/gallery-2.jpg"
                                 class="img-fluid w-100 d-block gallery-img rounded-3"
                                 alt="gallery" />
                        </div>
                        <div class="col-4">
                        <img src="~/assets/gallery-3.jpg"
                                 class="img-fluid w-100 d-block gallery-img rounded-3"
                                 alt="gallery" />
                        </div>
                        <div class="col-4">
                        <img src="~/assets/gallery-4.jpg"
                                 class="img-fluid w-100 d-block gallery-img rounded-3"
                                 alt="gallery" />
                        </div>
                    <div class="col-4">
                        <img src="~/assets/gallery-5.jpg"
                             class="img-fluid w-100 d-block gallery-img rounded-3"
                             alt="gallery" />
                    </div>
                    <div class="col-4">
                        <img src="~/assets/gallery-6.jpg"
                             class="img-fluid w-100 d-block gallery-img rounded-3"
                             alt="gallery" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
